<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Age Verification</title>

    {% if customCssFile|length %}
        <link rel="stylesheet" href="{{ customCssFile }}">
    {% endif %}
</head>
<body>

<main class="main">
    <section class="main-container">
        <div class="main-inner">
            <div class="item-container">
                <div class="item-content">
                    {% block itemContent %}
                    {% endblock %}
                </div>

                {% if settings.verificationBoxImage|length %}
                    <div class="item-image">
                        <div class="item-image-container">
                            <div class="item-image-image"></div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </section>
</main>

{% block endBody %}
{% endblock %}

</body>
</html>
